/* 
    Document   : common
    Created on : Aug 1, 2012, 10:20:12 PM
    Author     : rishin.goswami
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    overflow-y: scroll;
}

.navbar .brand {
    -moz-transition: all 0.2s linear 0s;
    color: #000000;
    font-weight: bold;                
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

[class^="gemsicon-"],
[class*=" gemsicon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}

[class^="gemsicon-"]:last-child,
[class*=" gemsicon-"]:last-child {
    *margin-left: 0;
}

.gemsicon-help {
    background-image: url("../image/gemsicon-help.png");
}

